*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
/* variables */
:root{
    --purple:#470e92;
    --bg-input:#f5f6f8;
    --border:#dedede;
}
.row .imagenFondo{
    background-image: url(../img/bg-desktop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* estilos formulario */
.title-login{
    font-size:24px;
    font-weight:bold;
}
.parrafo-login{
    font-size:14px;
    color: #272727D9;
}
.links a{
    color:var(--purple);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--purple);
    padding-bottom: 13px;
}
.links .registro{
    margin-left: 20px;
    border:none;
    border-bottom: 2px solid var(--border);
}
.row .formulario input[type="text"],input[type="password"]{
    text-align: left;
    border: 1px solid var(--border);
    background-color: var(--bg-input);
    border-radius:4px;
    width: 80%;
    padding:10px;
}
.row .formulario input[type="text"],input[type="password"]:focus{
    box-shadow: none;
    border: 1px solid var(--border);
    background-color: var(--bg-input);
}
.form-control::placeholder{
font-size:12px;
padding:20px;
}
.formulario .btn{
    box-shadow: none;
    font-size:14px;
    background-color:var(--purple);
    color: #ffff;
    border: 1px solid var(--border);
    cursor: pointer ;
    padding:12px 40px;
}
.formulario .text-Copyright{
    font-size:14px;
}
/* responsive-768px */
@media (max-width:768px) {
    .row .imagenFondo{
        background-image: url(../img/bg-mobile.svg);
        position: relative;
        background-color: #f3d083;
    }
    .parrafo-login{
       display: none;
    }
    .row .formulario{
        background-color:#fff;
        text-align:center;
        padding-top:20px !important;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        position:absolute;
        bottom: 0;
    }
    .row .formulario input[type="text"],input[type="password"],input[type="submit"]{
        width: 100%;
    }


  }
/* responsive-317px */
@media (max-width:317px) {
    .links a{
        color:var(--purple);
        display: block;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 2px solid var(--purple);
        padding-bottom: 13px;
    }
    .links .registro{
        margin:10px 0;
        border:none;
        border-bottom: 2px solid var(--border);
    }
}
